.box--item {
  @extend .clearfix;
  border-radius: 6px;
  box-shadow: $shadow-default;
  overflow: hidden;
  position: relative;
  z-index: $box-index;

  .-header {
    background-color: $color-default;
    color: #fff;
    cursor: pointer;
    padding: rem(15) rem(20);

    .icon {
      cursor: pointer;
      opacity: .4;

      &:not(:last-of-type) {
        margin-right: rem(10);
      }

      &:hover {
        opacity: 1;
      }
    }

    .counter {
      cursor: text;
      font-size: rem(40);
      line-height: rem(40);
      font-weight: $bolder;
    }

    .-title {
      cursor: text;
      display: inline-block;
      font-weight: $bold;
    }

    .-controls {
      cursor: auto;
      float: right;
    }
  }

  &.-active {
    .-header {
      background-color: $color-link;
    }
  }

  .-content {
    background-color: #fff;
    padding: rem(5) rem(10);
  }

  .-thead {
    font-weight: $bold;
    font-size: rem(12);
    color: $color-box-lite;
    line-height: rem(14);
    padding-left: rem(10);
  }

  .-tcontent {
    color: #000;
    font-size: rem(14);
    line-height: rem(24);
    font-weight: normal;
    margin-top: rem(10);
    max-height: rem(430);
    position: relative;
    overflow-x: hidden;
    z-index: 9;

    .row {
      cursor: pointer;
      padding-left: rem(10);
      &:hover {
        background-color: $color-box-fill;
      }
    }
  }
}

// A little inline grid for our boxes

[class*='bgrid-'] {
  display: inline-block;
  vertical-align: top;
  margin-right: rem($pad);
  white-space: nowrap;
  &:last-of-type {
    margin-right: 0;
  }

  [class*='col-'] {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.bgrid-3-20 {
  width: (100%/20)*3;
}

.bgrid-4-20 {
  width: (100%/20)*4;
}

.bgrid-6-20 {
  width: (100%/20)*6;
}

.bgrid-7-20 {
  width: (100%/20)*7;

  @include below($small-desktop) {
    width: auto;
    display: block;
    margin: 0 rem(10) rem(40) 0;
    padding-right: 0;
  }
}
.bgrid-10-20 {
  width: (100%/20)*10;

  @include below($small-desktop) {
    width: auto;
    display: block;
    margin: 0 rem(10) rem(40) 0;
    padding-right: 0;
  }
}

.dnd-grid__dropzone {
  position: absolute;
  display: inline-block;
  opacity: 0;
  background-color: rgba(1, 1, 1, .3);
  will-change: width, height, opacity, transform;
  pointer-events: none;
  border-radius: 6px;
  z-index: $dropzone-index;
  margin-right: rem($pad);
}