@font-face {
  font-family: 'Penisi';
  font-style: normal;
  font-weight: 400;
  src: local('Penisi'),
  url('../fonts/DINPro-Bold.woff2') format('woff2'),
  url('../fonts/DINPro-Bold.woff') format('woff'),
  url('../fonts/DINPro-Bold.ttf') format('ttf'),
  url('../fonts/DINPro-Bold.eot') format('eot');
}