.icon {
  display: inline-block;
  position: relative;

  &.-hamburger {
    // Default single line style
    backface-visibility: hidden;
    background-color: $color-fill-green;
    height: rem(5);
    margin-top: rem(10);
    margin-bottom: rem(10);
    position: relative;
    text-align: initial;
    transition: all .2s $animation-ease-default;
    width: rem(30);

    // Copy hamburger line style to before and after
    &:before,
    &:after {
      backface-visibility: hidden;
      background-color: $color-fill-green;
      height: rem(5);
      text-align: initial;
      transition: all .2s $animation-ease-default;
      width: rem(30);
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;

      // Animate
      transition-duration: .2s, .2s;
      transition-delay: .2s, 0s;
    }

    // Position top and bottom lines
    &:before {
      transition-property: top, transform;
      top: rem(-10);
    }

    &:after {
      transition-property: bottom, transform;
      bottom: rem(-10);
    }

    .hamburger--link:hover & {
      box-shadow: 0 rem(2) rem(4) 0  rgba(1, 1, 1, .2);
      &:before,
      &:after {
        box-shadow: 0 rem(2) rem(4) 0  rgba(1, 1, 1, .2);
      }
    }

    // Toggle effect on activating parent link
    .hamburger--link.-is-active & {
      background: none;
      box-shadow: none;

      &:before {
        top: 0;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }

      &:before,
      &:after {
        background-color: $color-fill-green;
        transition-delay: 0s, 0.2s;
      }
    }
  }

  svg {
    display: inline-block;
    fill: currentColor;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    vertical-align: baseline;

    path {
      fill: currentCollor;
    }
  }

  &.-down-arrow,
  &.-right-arrow {
    height: 7px;
    width: 10px;
  }
  &.-right-arrow {
    transform: rotate(-90deg);
  }

  &.-bell {
    height: 21px;
    width: 16px;
  }

  &.-user {
    height: 21px;
    width: 15px;
  }

  &.-search {
    height: 21px;
    width: 20px;

    svg, path {
      fill: $color-fill-green;
    }
  }
}