// Name: Layout
// Author: Cristi Corcoveanu (cristi.corcoveanu@gmail.com)

// !Layout
// ==|=========================================================================
// Globals and utils
* {
  box-sizing: border-box
}

::selection {
  background: $color-selection; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-selection; /* Gecko Browsers */
}

// Layout styling
html {
  font-size: $font-size-base-px;

  @include breakpoint(1250px) {
    font-size: 15px;
  }

  @include breakpoint(1165px) {
    font-size: 14px;
  }

  @include breakpoint(1100px) {
    font-size: 13px;
  }

  @include breakpoint(1105px) {
    font-size: 13px;
  }

  @include breakpoint(960px) {
    font-size: 16px;
  }
}

body {
  background-color: $color-background-default;
  color: $color-default;
  font-family: $font_family-default;
  font-size: rem(16);
  font-weight: $normal;
  line-height: rem(18);
  position: relative;
  overflow: hidden;
  width: 100%;
}

header {
  padding-top: rem(30);
}

main {
  margin-top: rem(40);
  position: relative;
}

a,
a:active,
a:hover,
a:focus,
a:visited {
  cursor: pointer;
  display: inline-block;
  outline: none;
  text-decoration: none;
  box-shadow: none;
  border: none;
  vertical-align: baseline;
}

.js-selection-disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  margin: 0 auto;
  max-width: $container-size;

  @include below($container-size) {
    padding: 0 rem(60);
  }
}

.logo--container {
  @include below($big-tablet) {
    margin-right: rem(20);
  }
}

.logo--link {

}

.hamburger--link {
  width: rem(30);
}

.menu--container {
  padding-top: rem(10);
}

.main-menu {
  display: inline-block;
  margin-left: rem(30);
  padding-top: rem(5);
  vertical-align: top;

  @include below($big-tablet) {
    margin-left: rem(20);
  }
}

.main-menu > li {
  display: inline-block;
  font-weight: $bold;

  &.top-item {
    position: relative;
    .-down-arrow {
      margin-left: rem(5);
      position: relative;
      bottom: rem(3);
    }

    .icon--link {
      .-down-arrow,
      .-right-arrow {
        bottom: rem(5);
      }
    }
  }

  &:not(:last-of-type) {
    margin-right: rem(30);
  }

  a,
  a:active,
  a:hover,
  a:focus,
  a:visited {
    color: $color-default;
  }
}

.hamburger--menu {
  display: inline-block;
  position: relative;
}

.search-and-options--container {
  text-align: right;

  &.col-10-20 {
    @include below($container-size) {
      float: right;
    }
  }

  .kiss--form {
    display: inline-block;
  }

  .search--input {
    padding: rem(12) rem(45) rem(10) rem(20);
    max-width: rem(300);
    width: rem(300);

    @include below($small-desktop) {
      display: none;
    }
  }

  .kiss--form .-search {
    @include below($small-desktop) {
      right: 0;
    }
  }

  .main-menu {
    margin-top: rem(5);
  }
}

.kiss--control {
  position: relative;

  .search-and-options--container & {
    height: rem(42);
    min-width: rem(40);
  }
}