.popup--menu {
  @extend .clearfix;
  background-color: rgba(255, 255, 255, .95);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  color: $color-default-lite;
  display: none;
  // 75 means the 70px that we move the tick to the right and extra 5 meaning half of it's width
  left: calc(50% - 75px);
  padding: rem(30) rem(40);
  position: absolute;
  top: calc(100% + 20px);
  white-space: nowrap;
  z-index: 100;

  @include below($big-tablet) {
    .hamburger--menu & {
      left: 10px;
      width: 100%;
      max-width: calc(100% - 20px);
      z-index: 300;
      top: rem(60);
    }
  }

  &:before {
    background-color: #fff;
    content: '';
    position: absolute;
    top: -4px;
    left: rem(70);
    width: 10px;
    height: 10px;
    box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, .1);
    transform: rotate(45deg);
    z-index: 110;

    @include below($big-tablet) {
      .hamburger--menu & {
        left: rem(200)
      }
    }
  }

  &:after {
    /* Add another square to cover the border if mozilla is an issue */
  }
  .-is-active + & {
    display: block;
  }

  > li {
    display: inline-block;
    vertical-align: top;
    &:not(:last-of-type) {
      margin-right: rem(50);
    }
  }


  li > .-header {
    color: #ccc;
    line-height: rem(22);
    font-size: rem(18);
    font-weight: $bolder;
    margin-bottom: rem(30);
    padding-left: rem(20)
  }

  .-submenu {
    a,
    a:active,
    a:hover,
    a:focus,
    a:visited {
      color: $color-default;
      font-size: rem(18);
      line-height: rem(30);
    }

    > li {
      a {
        padding-left: rem(20);
        position: relative;

        &:hover {
          color: $color-link;
        }

        .icon {
          position: absolute;
          top: rem(12);
          left: 0;
        }
      }
    }
  }

  .main-menu .top-item & {
    // 50% of the parent element, then move the element to the left
    // so it would center. 70px - distance of the tick to the left
    // and another 15px - the width and margin of the parent link
    // arrow
    left: calc(50% - 85px);
  }
}

.popup--menu.navbar {
  padding: rem(40) rem(80) rem(40) rem(60);
  > li {
    display: block;
    font-size: rem(18);
    line-height: rem(40);
    font-weight: normal;
    &:hover {
      .popup--link {
        color: $color-fill-green;
      }
    }

    .popup--link {
      position: relative;
      padding-left: rem(40);
      line-height: rem(21);

      .icon {
        position: absolute;
        left: 0;
        top: rem(3);
      }
    }
  }
}