.sidebar--container {
  background: rgba(255, 255, 255, .9);
  border-radius: 0 6px 6px 0;
  box-shadow: $shadow-default;
  left: 0;
  max-width: 99%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: rem(320);
  will-change: width;
  //transition: all .2s $animation-ease-default;
  z-index: $popup-index;

  .sidebar--title {
    font-size: rem(14);
    font-weight: $bold;
    line-height: rem(14);
    margin-bottom: rem(5);
    margin-top: rem(40);
    padding-left: rem(40);
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .sidebar--nav {
    font-size: rem(14);
    line-height: rem(40);
    margin-top: rem(25);
    padding-left: rem(40);
    float: left;
    overflow: hidden;

    li {
      overflow: hidden;
      padding-right: rem(40);
      position: relative;
      max-width: 100%;

      &:hover {
        color: $color-link;
      }

      > .icon {
        position: absolute;
        top: rem(15);
        right: rem(60);
      }
    }
  }

  .icon--link {
    border-bottom: 2px solid transparent;
    color: $color-default;
    max-height: rem(40);
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-left: rem(30);
    padding-right: rem(80);
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    word-break: break-all;

    &:hover {
      border-bottom: 2px solid $color-link;
      color: $color-link;
    }

    .icon {
      position: absolute;
      top: rem(14);
      left: 0;
    }
  }

  .resize--controller {
    cursor: col-resize;
    position: absolute;
    width: rem(40);
    text-align: center;
    right: rem(0);
    top: 0;
    height: 100%;

    &:hover {
      color: $color-link;
    }

    .resizer-desktop {
      display: inline-block;
      width: 10px;
      height: 100%;
      position: relative;
      z-index: 210;

      .icon.-resizer {
        position: absolute;
        top: 50%;
        left: 2px;
      }
    }
  }

  &.-closed {
    width: 40px;
    .sidebar--title,
    .sidebar--nav {
      opacity: 0;
    }
  }

  &.-open {
    width: auto;

    .sidebar--title,
    .sidebar--nav {
      opacity: 1;
    }
  }

  &.-animate {
    transition: all .2s $animation-ease-default;
  }

  &.-resizing {
    .sidebar--title,
    .sidebar--nav {
      opacity: .5;
    }
  }

  &.-bounce {
    animation-name: bounce;
    animation-duration: .3s;
    animation-iteration-count: 1;
    width: rem(320);

    .sidebar--title,
    .sidebar--nav {
      opacity: 1;
    }
  }

  @include below($container-size) {
    padding: rem(10);
    width: 40px;
    .sidebar--title,
    .sidebar--nav {
      opacity: 0;
    }
  }
}

// !Animations

// Bounce effect for drawer menu
@-webkit-keyframes bounce {
  50% {
    width: rem(325);
  }

  80% {
    width: rem(317);
  }

  100% {
    width: rem(320);
  }
}

@keyframes bounce {
  50% {
    width: rem(325);
  }

  80% {
    width: rem(317);
  }

  100% {
    width: rem(320);
  }
}