// Name: SASS variables
// Author: Cristi Corcoveanu (cristi.corcoveanu@gmail.com)

// !Colors
// ==|=========================================================================
$color-default: #87888A;
$color-default-lite: #999A9C;
$color-border: #ccc;
$color-box-lite: #B9BABD;
$color-box-fill: #F2F2F2;
//$color-link: #B6BD04;
$color-link: #A8B30A;
$color-selection: #CDD252;
$color-background-default: #fff;
$color-fill-green: #A8B30A;
$color-yellow: #FEE000;
$color-danger: #E94239;

$shadow-default: 0 0 3px 0 rgba(0, 0, 0, .2);


// !Typography
// ==|=========================================================================
$font_family-default: 'DinPro', open-sans;

$font-size-base: 100%;
$font-size-base-px: 16px;
$normal: 400;
$bold: 700;
$bolder: 900;

// !Layout dimensions
$container-size: 1190px;
$small-desktop: 1105px;
$big-tablet: 960px;


// !Animation related stuff
$visual-delay: 325ms;
$duration-simple: 200ms;
$animation-ease-default: cubic-bezier(0.4, 0.0, 0.2, 1);

// !Layers
$box-index: 250;
$dropzone-index: 240;
$popup-index: 260;