// Name: Gulp variables
// Author: Cristi Corcoveanu (cristi.corcoveanu@gmail.com)

// !Colors
// ==|=========================================================================
$color-default: #87888A;
$color-default-lite: #999A9C;
$color-border: #ccc;
$color-link: #B6BD04;
$color-selection: #CDD252;
$color-background-default: #fff;
$color-fill-green: #A8B30A;


// !Typography
// ==|=========================================================================
$font_family-default: 'DinPro', open-sans;

$font-size-base: 100%;
$font-size-base-px: 16px;
$normal: 400;
$bold: 700;
$bolder: 900;

// !Layout dimensions
$container-size: 1190px;


// !Animation related stuff
$visual-delay: 325ms;
$duration-simple: 200ms;
$animation-ease-default: cubic-bezier(0.4, 0.0, 0.2, 1);